---
const { ...offre } = Astro.props;
---

<script>
    //@ts-nocheck
    import { setFavori } from "../backend.mjs";
    window.setFavori = setFavori;
</script>
<div
    x-data={`{favori: ${offre.favori}, clickFavori() {this.favori = !this.favori; setFavori(${JSON.stringify(offre)});}}`}
>
    <li class="bg-white shadow-md p-4 rounded-lg flex flex-col gap-2 w-full">
        <li
            class="w-full max-w-xl shadow-md p-4 rounded-lg flex flex-col gap-2 bg-gray-200"
        >
            <h2 class="font-medium text-2xl font-main">{offre.nomMaison}</h2>
            <p>Adresse : {offre.adresse}</p>
            <p>{offre.nbChambres} chambres, {offre.nbSdb} salles de bain</p>
            <p>Surface : {offre.surface} m²</p>
            <p>Prix : {offre.prix} €</p>
            <img src={offre.imgUrl} alt="" />
            <a
                href={`/offres/${offre.id}`}
                class="w-25 px-4 py-2 text-center bg-blue-900 text-white font-semibold rounded-lg shadow-md
          hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400
          transition duration-300 ease-in-out transform hover:scale-105"
            >
                Voir plus
            </a>
            <button
                class="p-2"
                @click="clickFavori"
                x-bind:class="{ 'text-red-500': favori }"
            >
                Favori
            </button>
        </li>
    </li>
</div>
