---
const offre = Astro.props;
---

<li class="w-1/4 shadow-md p-4 rounded-lg flex flex-col gap-2">
    <h2 class="font-semibold text-lg">{offre.nomMaison}</h2>
    <p>Adresse : {offre.adresse}</p>
    <p>{offre.nbChambres} chambres, {offre.nbSdb} salles de bain</p>
    <p>Surface : {offre.surface} m²</p>
    <p>Prix : {offre.prix} €</p>
    <img src={offre.imgUrl} alt="" />
</li>
